<div class="detailsWrapper">
  <h2>Ride: {{ ride.id }}</h2>
  <div class="details">
    <div class="infoSection">
      <ul>
        <li><span>Starting location:</span> {{ ride.addressFrom }}</li>
        <li><span>Destination:</span> {{ ride.addressTo }}</li>
        <li><span>Date:</span> {{ ride.date }}</li>
        <li><span>Time:</span> {{ ride.time }}</li>
        <li><span>Mobile number:</span> {{ ride.mobile }}</li>
        <li><span>Payment method:</span> {{ ride.paymentMethod }}</li>
        <li><span>Price:</span> {{ ride.price }} €</li>
        <li><span>Range:</span> {{ ride.range }} km</li>
      </ul>
    </div>
    <div class="map">
      <div id="map"></div>
    </div>
  </div>
</div>
